<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- The character set should be utf-8 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <title>Welcome to Cafy Mailer</title>

    <body>
    <p>
        Hi {{ firstName }},<br/><br/>
        Thank you for making CAFY as part of planning of your big day. We founded CAFY  with a goal to help our
        users to
        <br/><br/>
        In the meantime, checkout our webiste to explore what we have offers.
        <br/><br/>
        Cheers, <br/>
        CAFY TEAM
    </p>
    </body>
</html>

